@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.circleGradient{
  background: linear-gradient(
    to bottom,
    #000000 0%,
    #200d42 34%,
    #4f21a1 60%,
    #A46EDB 84%
  );
  filter: blur(120px);
}

.gradText{
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
